<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <style>
        .head{
            background-color:hsl(187, 76%, 23%);
            height: 3rem;
            text-align: center;
            color: #fff;
            line-height: 2.5rem;
        }
        body{
            margin: -1.4rem 0; 
        }
        .tareef{
            font-size: 3rem;
            text-align: center;
            line-height: 30rem;
            font-weight:550;
        }
    </style>
    <div class="head">
        <h1>About Me</h1>
    </div>    
    <div class="tareef">
        I am a <span style="color:aqua"> MERN </span>Stack Developer.
    </div>
</body>
</html>